A2.txt
Clingo.exe
results.txt

PCG GUI/PCG GUI/bin/Debug/PCG GUI.exe
PCG GUI/PCG GUI/bin/Debug/PCG GUI.exe.config
PCG GUI/PCG GUI/bin/Debug/PCG GUI.pdb
PCG GUI/PCG GUI/bin/Debug/PCG GUI.vshost.exe
PCG GUI/PCG GUI/bin/Debug/PCG GUI.vshost.exe.config
PCG GUI/PCG GUI/obj/Debug/
